{% extends "::base.html.twig" %}

{% block title %}CrecheBundle:Mois:create{% endblock %}

{% block body %}
    {{ parent() }}
<!--<h1>Bienvenue sur l'application de chez Natou</h1>-->
<br><br><br><br><br><br>
<div class="container">
        <h1>Création des mois</h1>
        <div class="form-group">{{ form_start(form) }}</div>     
        <div class="form-group">{{ form_widget(form) }}</div>
        <br>
        <button type="submit" class="btn btn-primary">Ajouter</button>
        {{ form_end(form) }}
</div>
{% endblock %}
