<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet"  href="{{ asset('css/main.css') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{ asset('css/scrolling-nav.css') }}" > 
        <link rel="stylesheet" href="{{ asset('css/site.css') }}" > 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Faster One" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet'>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />      
        
        <style>
            div.page-header{
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d2dfed+0,c8d7eb+26,bed0ea+51,a6c0e3+51,afc7e8+62,bad0ef+75,99b5db+88,799bc8+100;Grey+Blue+Gloss+%231 */
               background: #d2dfed; /* Old browsers */
               background: -moz-linear-gradient(top,  #d2dfed 0%, #c8d7eb 26%, #bed0ea 51%, #a6c0e3 51%, #afc7e8 62%, #bad0ef 75%, #99b5db 88%, #799bc8 100%); /* FF3.6-15 */
               background: -webkit-linear-gradient(top,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* Chrome10-25,Safari5.1-6 */
               background: linear-gradient(to bottom,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
               filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2dfed', endColorstr='#799bc8',GradientType=0 ); /* IE6-9 */
            }
            div.page-header h1{
                margin-left:20px;
                padding-top:10px;
            }
            div#login{
               
            }
            div#login-content,div#fos_user_registration_form{
                margin:20px auto;
                width:900px;
                height:auto;
                background:silver;
                border:1px solid grey;
                padding-top:3px;
                padding-bottom:3px;
                padding-left:10px;
                border:1px dotted grey;
            }
            div#fos_user_registration_form{
                width:500px;
                height:200px;
                padding-top:26px;
                padding-left:30px;
                background:#F7F7F7;
            }
            input#_submit{
                background: #337ab7;
                color:white;
            }
            input#fos_user_registration_form_email{
                margin-left:115px;
                margin-bottom:3px;
            }input#fos_user_registration_form_username{
                margin-left:100px;
                margin-bottom:3px;
            }input#fos_user_registration_form_plainPassword_first{
                margin-left:124px;
                margin-bottom:3px;
            }input#fos_user_registration_form_plainPassword_second{
                margin-left:52px;
                margin-bottom:3px;
            }
            nav{
                background:grey;
            }
            a.navbar-brand{
                color:white;
            }
            a.nav-link{
                color:#f7f7f7;
            }
            input#crechebundle_eleves_nomEleve{
                margin-left:80px;
                margin-top:1px;
                margin-bottom:1px;
            }
            input#crechebundle_eleves_prenomEleve{
                margin-left:60px;
                margin-top:1px;
                margin-bottom:1px;
            }
            input#crechebundle_eleves_dateDeNaissance{
                margin-left:27px;
                margin-top:1px;
                margin-bottom:1px;
            }
            input#crechebundle_eleves_nomPere{
                margin-left:88px;
                margin-top:1px;
                margin-bottom:1px;
            }
            input#crechebundle_eleves_prenomPere{
                margin-left:67px;
                margin-top:1px;
                margin-bottom:1px;
            }
            input#crechebundle_eleves_nomMere{
                margin-left:88px;
                margin-top:1px;
                margin-bottom:1px;
            }
            input#crechebundle_eleves_prenomMere{
                margin-left:67px;
                margin-top:1px;
                margin-bottom:1px;
            }
            select#crechebundle_eleves_paiements{
                margin-left:86px;
                margin-top:1px;
                margin-bottom:1px;
                width:188px;
            }
            select#crechebundle_eleves_classes{
                margin-left:103px;
                margin-top:1px;
                margin-bottom:1px;
                width:188px;
            }
        </style>
          
    </head>
    <body>
        {% block body %}
             <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-fixed-top" id="mainNav">
              <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Crèche <i class="material-icons">face</i><span class="cheznatou">chez Natou</span>...  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </a>
                <button type="button" class="btn btn-default" aria-label="Left Align">
                  <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"> <h5>835 53 92</h5></span>
                </button>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="#fonctionnement">Inscription</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="#about">Information</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="#tarif">Paiement</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="#services">Charges</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="#contact">Investissements</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>

            <!--<div class="page-header">
                <h1>Crèche  <small>Chez Natou</small></h1>
            </div>-->
        {% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            
             <!-- Bootstrap core JavaScript -->
            <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

            <!-- Plugin JavaScript -->
            <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>

            <!-- Custom JavaScript for this theme -->
            <script src="{{ asset('js/scrolling-nav.js') }}"></script>

        {% endblock %}
    </body>
</html>